body {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DIN Pro";
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

.header {
  background-color: #0f0f10;
  color: #ffffff;
  padding-top: 25px;

  .main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &-list {
      list-style: none;
      display: flex;
      width: 500px;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      padding: 0;
      margin: 0;

      &__item {
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
        color: #ffffff;

        >i {
          margin-left: 5px;
        }
      }
    }
  }

  .add-listing-button {
    height: 40px;
    vertical-align: middle;
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 2px;
    background: none;
    padding: 0 23px;
    color: #ffffff;
    margin-left: 50px;
    margin-right: 30px;
    > i {
      margin-right: 11px;
    }
  }

  .header-slider {
    &_title {
      font-family: "DIN Pro";
      font-size: 45px;
      font-weight: 700;
    }
    &_subtitle {
      font-size: 17px;
    }
  }

  .search-form {
    display: flex;
    align-items: center;
    margin-bottom: 66px;
  }

  .search-input {
    width: 500px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 2px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    color: #323031;
    padding-left: 30px;
    border: none;
    outline: none;

    &::-webkit-input-placeholder {
      color: #323031;
    }
    &::-moz-placeholder {
      color: #323031;
    } /* Firefox 19+ */
    &:-moz-placeholder {
      color: #323031;
    } /* Firefox 18- */
    &:-ms-input-placeholder {
      color: #323031;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      margin-right: 10px;
      position: relative;
    }

    &__dropdown-icon {
      position: absolute;
      color: #67676f;
      right: 30px;
      font-size: 18px;
    }
  }

  .search-button {
    height: 60px;
    background-color: #fb3640;
    border-radius: 2px;
    font-family: DINPro;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    border: none;
    display: flex;
    align-items: center;
    padding: 0 32px;

    &__text {
      margin-right: 15px;
    }
  }

  .search-area {
    margin-top: 140px;
    &__title {
      font-size: 45px;
      font-weight: 700;
      margin-bottom: 17px;
    }

    &__subtitle {
      font-size: 17px;
      line-height: 1.2;
      font-weight: 300;
      margin-bottom: 40px;
    }

    &__subtitle2 {
      line-height: 1.2;
      font-weight: 400;
      margin-bottom: 60px;
    }

    &__footer {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }

    &__arrow {
      width: 20px;
      height: 48px;
    }
  }

  .highlights-list {
    list-style-type: none;
    display: flex;
    margin-bottom: 30px;
    padding: 0;
    &__item {
      text-align: center;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 91px;

      &:not(:last-child) {
        margin-right: 31px;
      }
      &-title {
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
        color: #ffffff;
        margin: 0;
        white-space: nowrap;
      }
      &-icon {
        opacity: 1;
        &-wrapper {
          background: url("/assets/img/highlight_bg.svg");
          width: 91px;
          height: 92px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 17px;
          opacity: 0.14;
        }
      }
    }
  }
}

.cities {
  padding-bottom: 60px;

  &-row:not(:last-child) {
    margin-bottom: 30px;
  }
  &-item {
    height: 250px;
    background-color: #242423;
    border-radius: 2px;
    color: #ffffff;
    padding: 24px 30px;
    text-align: left;
    &__title {
      font-size: 24px;
      font-weight: normal;
    }
    &__subtitle {
    }
  }
}

.section {
  padding-top: 60px;

  &__title {
    font-family: "DIN Pro";
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #242423;
    margin-bottom: 20px;
    text-align: center;
  }

  &__subtitle {
    font-family: Rubik;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    color: #8d8d8d;
    margin-bottom: 40px;
    text-align: center;
  }
}

.footer {
  color: #8d8d8d;

  &-main {
    height: 370px;
    background-color: #0f0f10;

    &__row {
      &-headers {
        color: #ffffff;
        padding-top: 70px;
        align-items: center;
      }
      &-content {
        padding-top: 9px;
        font-size: 13px;
        line-height: 30px;
        font-weight: 400;
      }
    }

    &__header {
      font-size: 18px;
      font-weight: 400;
      margin: 0;
    }

    &__navigation {
      list-style: none;
      padding: 0;
    }
  }

  &-low {
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;

    background-color: #000000;
    position: relative;

    .row {
      height: 80px;
    }

    .social-icons {
      list-style: none;
      display: flex;
      font-size: 14px;
      margin: 0;
      padding: 0;
      > .social-icon {
        display: block;
        margin-left: 24px;
        &_active {
          color: #ffffff;
        }
      }
    }
    .gotop-button {
      box-shadow: 0px 0px 30px 0px rgba(35, 35, 35, 0.2);
      background-color: #fb3640;
      color: #ffffff;
      border: none;
      border-radius: 50%;
      width: 43px;
      height: 43px;

      position: absolute;
      right: 50px;
      bottom: 57px;
    }
  }
}

.news {
  padding-bottom: 75px;

  &-card {
    height: 400px;
    background-color: #323031;
    border-radius: 2px;
    color: #ffffff;
    padding: 30px;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    &__header {
      flex: auto;
    }

    &__footer {
    }

    &__date {
      font-size: 13px;
      line-height: 1.2;
      font-weight: 400;
      margin-bottom: 15px;
    }

    &__title {
      font-size: 18px;
      line-height: 1.2;
      font-weight: 500;
      margin: 0;
    }
  }
}

.activities {
  .activity-card {
    text-align: center;
    &__icon {
      margin-bottom: 20px;
      margin-top: 30px;
    }

    &__title {
      font-size: 18px;
      color: #242423;
      margin-bottom: 19px;
    }

    &__description {
      font-size: 13px;
      line-height: 24px;
      font-weight: 400;
      color: #8d8d8d;
      margin: 0;
    }
  }
}

.tag {
  height: 30px;
  background-color: #28b8dc;
  border-radius: 15px;
  font-family: "Rubik";
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  padding: 8px 16px;
}

.download-app-card {
  width: 232px;
  height: 75px;
  border: 1px solid #2b2b2d;
  border-radius: 2px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 12px;
  padding: 24px;

  > div {
    height: 30px;
  }

  &__icon {
    height: 48px;
    width: 48px;
    margin-right: 6px;
  }

  &__title {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
  }

  &__description {
    line-height: 24px;
    margin: 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  &__brand {
  }

  &__title {
    font-size: 30px;
    font-family: "Barlow", sans-serif;
    margin: 0;
    color: #ffffff;

    &::after {
      content: "\2024";
      color: #fb3640;
      font-size: 48px;
      line-height: 30px;
    }
  }
}

.places {
  background-color: #f8fafa;
  padding-bottom: 0;

  .place-card {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.02);
    height: 390px;
    background-color: #ffffff;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    &__preview {
      height: 220px;
      background-color: #323031;
      border-radius: 2px 2px 0px 0px;
      padding: 20px 20px 10px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      font-size: 13px;
      line-height: 1.2;
      font-weight: 400;
      color: #ffffff;

      &-row {
        display: flex;
        justify-content: space-between;
      }

      &-tags {
        display: flex;
        justify-content: flex-end;
      }
    }

    &__content {
      text-align: left;
      padding: 20px 20px 20px 20px;
      flex: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
    }

    &__details {
      flex: auto;
      > *:not(:last-child) {
        margin-bottom: 9px;
      }
    }

    &__title {
      font-size: 18px;
      color: #242423;
    }

    &__subtitle {
      font-size: 13px;
      line-height: 1.2;
      font-weight: 400;
      color: #8d8d8d;
    }

    &__contacts {
      font-size: 13px;
      line-height: 1.2;
      font-weight: 400;
      color: #8b8b8b;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__properties {
      display: flex;
      align-items: center;
      font-size: 13px;
      line-height: 1.2;
      font-weight: 400;
      color: #28b8dc;
      > * {
        margin-right: 10px;
      }
      > p {
        margin-bottom: 0;
      }

      &-delimiter {
        height: 21px;
        width: 1px;
        background-color: #ebebeb;
      }
    }

    &__rating {
      border-radius: 2px;
      padding: 1px 4px;
      font-size: 13px;
      line-height: 1.2;
      font-weight: 400;
      color: #ffffff;
      &_good {
        background-color: #b4c52c;
      }
    }
  }

  &__buttons {
    padding-top: 50px;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 48px;
    height: 48px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.02);
    background-color: #ffffff;
    color: #fb3640;
    border: none;
    border-radius: 50%;
    margin: 0 10px;
    &_disabled {
      background-color: #b3b4b4;
      color: #ffffff;
    }
  }
}
