@import url(./__social-buttons/signin-form__social-buttons.css);
@import url(./__link/signin-form__link.css);
@import url(./__remember/signin-form__remember.css);

.signin-form {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}
