@import url(./_show/modal__backdrop_show.css);

.modal__backdrop {
  position: fixed;
  opacity: 0.8;
  background-color: #242423;
  z-index: 999;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
