.footer__title {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  font-family: 'DIN Pro';
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  color: #ffffff;
  align-self: center;
}
