.footer__column {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "." ".";
  justify-items: flex-start;
}

@media (max-width: 991px) {
  .footer__column {
    justify-items: center;
  }
}

@media (max-width: 767px) {
  .footer__column {
    text-align: center;
  }
}