@import url(./__button-icon/search__button-icon.css);
@import url(./__dropdown-icon/search__dropdown-icon.css);
@import url(./__dropdown/search__dropdown.css);
@import url(./__input/search__input.css);

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 66px;
}

@media (max-width: 767px) {
  .search {
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
  }
}