.footer__button-up {
  position: absolute;
  top: -18px;
  right: 58px;

  margin: auto;

  width: 44px;
  height: 44px;
  color: #ffffff;
  background: #fb3640;
  border: none;
  border-radius: 50%;
}
