.search__input {
  height: 60px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  color: #323031;
  border: none;
  outline: none;
  flex: auto;
}

.search__input::-webkit-input-placeholder {
  color: #323031;
}
.search__input::-moz-placeholder {
  color: #323031;
} /* Firefox 19+ */
.search__input:-moz-placeholder {
  color: #323031;
} /* Firefox 18- */
.search__input:-ms-input-placeholder {
  color: #323031;
}
