.icon_size_xs {
  width: 24px;
  height: 24px;
}

.icon_size_sm {
  width: 32px;
  height: 32px;
}

.icon_size_md {
  width: 40px;
  height: 40px;
}

.icon_size_lg {
  width: 48px;
  height: 48px;
}
