.place-card__phone {
  grid-area: phone;
  justify-self: flex-end;
  align-items: center;

  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  color: #8b8b8b;
  
  display: flex;
  align-items: center;
}

.place-card__phone > * {
  margin-right: 10px;
}