@import url(./__icon/search-results__icon.css);
@import url(./__item/search-results__item.css);
@import url(./__section/search-results__section.css);

.search-results {
  width: 364px;
  background-color: #ffffff;
  border-radius: 0px 0px 2px 2px;

  position: absolute;
  top: 70px;
  z-index: 99;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  padding: 0 23px 23px 23px;

  max-height: 264px;
  overflow-y: auto;
}

.search-results::-webkit-scrollbar {
  width: 5px;
}

.search-results::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #28b8dc;
  border-radius: 2.5px;
}



