.tag {
  height: 30px;
  border-radius: 15px;
  font-family: 'Rubik';
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 0;
  padding: 8px 16px;
  width: fit-content;
}

.tag_blue {
  background-color: #28b8dc;
  color: #ffffff;
}
