.place-card__preview-link {
  grid-area: preview;
  align-self: center;

  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  color: #fefefe;
  z-index: 1;

  display: flex;
  align-items: center;
}

.place-card__preview-link > * {
  margin-right: 10px;
}