@import url(./_color/button_color.css);
@import url(./_size/button_size.css);
@import url(./_has-icon/button_has-icon.css);
@import url(./_border/button_border.css);

.button {
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;

  font-family: 'Rubik';
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
